## Anomaly Detection using NSL-KDD dataset

# Step 1: Data Preprocessing

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
column_names= ["duration","protocol_type","service","flag","src_bytes","dst_bytes", "land",
               "wrong_fragment","urgent","hot","num_failed_logins","logged_in", "num_compromised",
               "root_shell","su_attempted","num_root", "num_file_creations","num_shells", "num_access_files",
               "num_outbound_cmds","is_host_login","is_guest_login","count","srv_count","serror_rate",
              "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate","diff_srv_rate",
               "srv_diff_host_rate","dst_host_count","dst_host_srv_count","dst_host_same_srv_rate",
               "dst_host_diff_srv_rate","dst_host_same_src_port_rate","dst_host_srv_diff_host_rate",
               "dst_host_serror_rate", "dst_host_srv_serror_rate","dst_host_rerror_rate",
               "dst_host_srv_rerror_rate","class"]

In [6]:
#read data from csv
trainData = pd.read_csv("NSL_KDD/KDDTrain+_20Percent.csv", header=None, names=column_names)

In [7]:
#view the train data
trainData.head(10)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal
5,0,tcp,private,REJ,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.00,1.00,anomaly
6,0,tcp,private,S0,0,0,0,0,0,0,...,9,0.04,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
7,0,tcp,private,S0,0,0,0,0,0,0,...,15,0.06,0.07,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
8,0,tcp,remote_job,S0,0,0,0,0,0,0,...,23,0.09,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
9,0,tcp,private,S0,0,0,0,0,0,0,...,13,0.05,0.06,0.00,0.00,1.00,1.00,0.00,0.00,anomaly

In [8]:
#upload the test data
testData = pd.read_csv("NSL_KDD/KDDTest-21.csv", header=None, names=column_names)

In [9]:
testData.head(5)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,13,tcp,telnet,SF,118,2425,0,0,0,0,...,10,0.38,0.12,0.04,0.0,0.00,0.00,0.12,0.3,anomaly
1,0,udp,private,SF,44,0,0,0,0,0,...,254,1.00,0.01,0.01,0.0,0.00,0.00,0.00,0.0,anomaly
2,0,tcp,telnet,S3,0,44,0,0,0,0,...,79,0.31,0.61,0.00,0.0,0.21,0.68,0.60,0.0,anomaly
3,0,udp,private,SF,53,55,0,0,0,0,...,255,1.00,0.00,0.87,0.0,0.00,0.00,0.00,0.0,normal
4,0,tcp,private,SH,0,0,0,0,0,0,...,1,0.06,1.00,1.00,0.0,1.00,1.00,0.00,0.0,anomaly

In [10]:
# see the statistical summary
trainData.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,25192.000000,2.519200e+04,2.519200e+04,25192.000000,25192.000000,25192.00000,25192.000000,25192.000000,25192.000000,25192.000000,...,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000
mean,305.054104,2.433063e+04,3.491847e+03,0.000079,0.023738,0.00004,0.198039,0.001191,0.394768,0.227850,...,182.532074,115.063036,0.519791,0.082539,0.147453,0.031844,0.285800,0.279846,0.117800,0.118769
std,2686.555640,2.410805e+06,8.883072e+04,0.008910,0.260221,0.00630,2.154202,0.045418,0.488811,10.417352,...,98.993895,110.646850,0.448944,0.187191,0.308367,0.110575,0.445316,0.446075,0.305869,0.317333
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,84.000000,10.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,4.400000e+01,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,255.000000,61.000000,0.510000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,2.790000e+02,5.302500e+02,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,...,255.000000,255.000000,1.000000,0.070000,0.060000,0.020000,1.000000,1.000000,0.000000,0.000000
max,42862.000000,3.817091e+08,5.151385e+06,1.000000,3.000000,1.00000,77.000000,4.000000,1.000000,884.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
# See the class distribution , normal vs anomaly data
print('Class distribution Train Data:')
print(trainData['class'].value_counts())

Class distribution Train Data:
normal     13449
anomaly    11743
Name: class, dtype: int64

In [12]:
# test Data
print('Class Dist in Test Data:')
print(testData['class'].value_counts())

Class Dist in Test Data:
anomaly    9698
normal     2152
Name: class, dtype: int64

# Covert categorical to Numerical - One Hot Encoding

Now if we analyze the dataset, we can see three attributes are categorical and rest are numerical. We would need to convert these categorical attributes to numerical. We would use One-Hot Encoding method for this

In [13]:
#check the data type of columns
trainData['protocol_type'].dtypes

dtype('O')

In [14]:
trainData['service'].dtypes

dtype('O')

In [15]:
trainData['duration'].dtypes

dtype('int64')

In [16]:
# in pandas dtype('O') represents panda Objects

In [17]:
# lets print all the columns of type 'object' and check the number of unique categories in each

In [18]:
#create a function 
def CheckFeatures(dataSet):
    for col_names in column_names:
        if dataSet[col_names].dtypes=='object':
             cat= len(dataSet[col_names].unique())
             print("Feature '{col_name}' has '{cat}' categories".format(col_name=col_names, cat=cat))

In [19]:
CheckFeatures(trainData)

Feature 'protocol_type' has '3' categories
Feature 'service' has '66' categories
Feature 'flag' has '11' categories
Feature 'class' has '2' categories

In [20]:
# lets print the names of categories of each

In [21]:
#categories in Protocol type
trainData['protocol_type'].unique()

array(['tcp', 'udp', 'icmp'], dtype=object)

In [22]:
# print the total number of rows per category in Service
print('Distribution of categories in Services:')
print(trainData['service'].unique())

Distribution of categories in Services:
['ftp_data' 'other' 'private' 'http' 'remote_job' 'name' 'netbios_ns'
 'eco_i' 'mtp' 'telnet' 'finger' 'domain_u' 'supdup' 'uucp_path' 'Z39_50'
 'smtp' 'csnet_ns' 'uucp' 'netbios_dgm' 'urp_i' 'auth' 'domain' 'ftp'
 'bgp' 'ldap' 'ecr_i' 'gopher' 'vmnet' 'systat' 'http_443' 'efs' 'whois'
 'imap4' 'iso_tsap' 'echo' 'klogin' 'link' 'sunrpc' 'login' 'kshell'
 'sql_net' 'time' 'hostnames' 'exec' 'ntp_u' 'discard' 'nntp' 'courier'
 'ctf' 'ssh' 'daytime' 'shell' 'netstat' 'pop_3' 'nnsp' 'IRC' 'pop_2'
 'printer' 'tim_i' 'pm_dump' 'red_i' 'netbios_ssn' 'rje' 'X11' 'urh_i'
 'http_8001']

In [23]:
trainData['service'].value_counts().sort_values(ascending=False).head()

http        8003
private     4351
domain_u    1820
smtp        1449
ftp_data    1396
Name: service, dtype: int64

In [24]:
#pip install pandas --upgrade

In [25]:
# check the category type features in Test Data
CheckFeatures(testData)

Feature 'protocol_type' has '3' categories
Feature 'service' has '62' categories
Feature 'flag' has '11' categories
Feature 'class' has '2' categories

In [26]:
testData['protocol_type'].unique()

array(['tcp', 'udp', 'icmp'], dtype=object)

In [27]:
testData['service'].unique()

array(['telnet', 'private', 'http', 'imap4', 'ftp_data', 'other', 'ctf',
       'pop_3', 'ftp', 'domain_u', 'domain', 'eco_i', 'ecr_i', 'finger',
       'name', 'smtp', 'vmnet', 'mtp', 'bgp', 'exec', 'sunrpc',
       'uucp_path', 'iso_tsap', 'echo', 'auth', 'hostnames', 'courier',
       'uucp', 'daytime', 'nntp', 'netstat', 'urp_i', 'http_443',
       'csnet_ns', 'login', 'klogin', 'whois', 'time', 'link', 'discard',
       'gopher', 'supdup', 'netbios_ns', 'systat', 'netbios_dgm',
       'kshell', 'efs', 'nnsp', 'ssh', 'netbios_ssn', 'Z39_50', 'IRC',
       'ntp_u', 'X11', 'pm_dump', 'ldap', 'remote_job', 'sql_net',
       'shell', 'tim_i', 'pop_2', 'tftp_u'], dtype=object)

In [28]:
testData['flag'].value_counts().sort_values(ascending=False).head()

SF      7278
REJ     1852
S0      1033
RSTR     668
RSTO     658
Name: flag, dtype: int64

Now to do label encoding, we would need to make columns for each unique category. As in One-Hot Encoding we will be providing a unique binary value to each category and assign that numeric value instead of writing the category.

We have 3+66+11 subcategories in train data and 3+ 62+11 sub categories in test data. So in all we would need maximum 80 columns. Test data has 4 lesser but we would need to add them as empty columns in test data.

# One Hot Encoding

First create a numpy array of all the categorical features

In [29]:
categorical_columns = ['protocol_type','service','flag']

In [30]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [31]:
train_categorical_columns_values= trainData[categorical_columns]

In [32]:
test_categorical_columns_values= testData[categorical_columns]

In [33]:
test_categorical_columns_values.head()

  protocol_type  service flag
0           tcp   telnet   SF
1           udp  private   SF
2           tcp   telnet   S3
3           udp  private   SF
4           tcp  private   SH

In [34]:
train_categorical_columns_values.head()

  protocol_type   service flag
0           tcp  ftp_data   SF
1           udp     other   SF
2           tcp   private   S0
3           tcp      http   SF
4           tcp      http   SF

Now we will make columns for each sub category

In [35]:
# create columns for each sub category in protocol_type
protocol_cat = sorted(trainData['protocol_type'].unique())
stringP = 'protocol_type_'
protocol_col = [stringP + c for c in protocol_cat]

In [36]:
protocol_col

['protocol_type_icmp', 'protocol_type_tcp', 'protocol_type_udp']

In [37]:
# create columns for each sub category in service
service_cat = sorted(trainData['service'].unique())
stringS = 'service_'
service_col = [stringS + c for c in service_cat]

In [38]:
service_col

['service_IRC',
 'service_X11',
 'service_Z39_50',
 'service_auth',
 'service_bgp',
 'service_courier',
 'service_csnet_ns',
 'service_ctf',
 'service_daytime',
 'service_discard',
 'service_domain',
 'service_domain_u',
 'service_echo',
 'service_eco_i',
 'service_ecr_i',
 'service_efs',
 'service_exec',
 'service_finger',
 'service_ftp',
 'service_ftp_data',
 'service_gopher',
 'service_hostnames',
 'service_http',
 'service_http_443',
 'service_http_8001',
 'service_imap4',
 'service_iso_tsap',
 'service_klogin',
 'service_kshell',
 'service_ldap',
 'service_link',
 'service_login',
 'service_mtp',
 'service_name',
 'service_netbios_dgm',
 'service_netbios_ns',
 'service_netbios_ssn',
 'service_netstat',
 'service_nnsp',
 'service_nntp',
 'service_ntp_u',
 'service_other',
 'service_pm_dump',
 'service_pop_2',
 'service_pop_3',
 'service_printer',
 'service_private',
 'service_red_i',
 'service_remote_job',
 'service_rje',
 'service_shell',
 'service_smtp',
 'service_sql_net',
 'service_ssh',
 'service_sunrpc',
 'service_supdup',
 'service_systat',
 'service_telnet',
 'service_tim_i',
 'service_time',
 'service_urh_i',
 'service_urp_i',
 'service_uucp',
 'service_uucp_path',
 'service_vmnet',
 'service_whois']

In [39]:
# create columns for each sub category in flag
flag_cat = sorted(trainData['flag'].unique())
stringF = 'flag_'
flag_col = [stringF + c for c in flag_cat]

In [40]:
flag_col

['flag_OTH',
 'flag_REJ',
 'flag_RSTO',
 'flag_RSTOS0',
 'flag_RSTR',
 'flag_S0',
 'flag_S1',
 'flag_S2',
 'flag_S3',
 'flag_SF',
 'flag_SH']

Take the test set and create column for test set but since only the service category has different number of sub categories so we may need to do it only for service columns

In [41]:
service_test=  sorted(testData['service'].unique())

In [42]:
service_col_test = [stringS + c for c in service_test]

Now we would put these columns together

In [43]:
train_cat_col = protocol_col+service_col+flag_col

In [44]:
print(train_cat_col)

['protocol_type_icmp', 'protocol_type_tcp', 'protocol_type_udp', 'service_IRC', 'service_X11', 'service_Z39_50', 'service_auth', 'service_bgp', 'service_courier', 'service_csnet_ns', 'service_ctf', 'service_daytime', 'service_discard', 'service_domain', 'service_domain_u', 'service_echo', 'service_eco_i', 'service_ecr_i', 'service_efs', 'service_exec', 'service_finger', 'service_ftp', 'service_ftp_data', 'service_gopher', 'service_hostnames', 'service_http', 'service_http_443', 'service_http_8001', 'service_imap4', 'service_iso_tsap', 'service_klogin', 'service_kshell', 'service_ldap', 'service_link', 'service_login', 'service_mtp', 'service_name', 'service_netbios_dgm', 'service_netbios_ns', 'service_netbios_ssn', 'service_netstat', 'service_nnsp', 'service_nntp', 'service_ntp_u', 'service_other', 'service_pm_dump', 'service_pop_2', 'service_pop_3', 'service_printer', 'service_private', 'service_red_i', 'service_remote_job', 'service_rje', 'service_shell', 'service_smtp', 'service_sql_net', 'service_ssh', 'service_sunrpc', 'service_supdup', 'service_systat', 'service_telnet', 'service_tim_i', 'service_time', 'service_urh_i', 'service_urp_i', 'service_uucp', 'service_uucp_path', 'service_vmnet', 'service_whois', 'flag_OTH', 'flag_REJ', 'flag_RSTO', 'flag_RSTOS0', 'flag_RSTR', 'flag_S0', 'flag_S1', 'flag_S2', 'flag_S3', 'flag_SF', 'flag_SH']

In [45]:
test_cat_col= protocol_col+service_col_test+flag_col

Transform the categorical features into numbers using LabelEncoder()

In [46]:
labelenc = LabelEncoder()

In [47]:
train_enc = train_categorical_columns_values.apply(labelenc.fit_transform)

In [48]:
test_enc= test_categorical_columns_values.apply(labelenc.fit_transform)

In [49]:
train_enc.head()

   protocol_type  service  flag
0              1       19     9
1              2       41     9
2              1       46     5
3              1       22     9
4              1       22     9

Now use One-Hot encoding  /*in current version can use OneHot encoding directly, no need to use Label Encoding before OneHot */

In [50]:
onehotenc = OneHotEncoder()

In [51]:
train_onehot = onehotenc.fit_transform(train_enc)

/Users/garima/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [52]:
test_onehot= onehotenc.fit_transform(test_categorical_columns_values)

In [53]:
test_enc= pd.DataFrame(test_onehot.toarray(), columns= test_cat_col)

In [54]:
test_enc.head()

,protocol_type_icmp,protocol_type_tcp,protocol_type_udp,service_IRC,service_X11,service_Z39_50,service_auth,service_bgp,service_courier,service_csnet_ns,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [55]:
train_enc=pd.DataFrame(train_onehot.toarray(),columns=train_cat_col)

In [56]:
train_enc.head()

,protocol_type_icmp,protocol_type_tcp,protocol_type_udp,service_IRC,service_X11,service_Z39_50,service_auth,service_bgp,service_courier,service_csnet_ns,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Add 6 missing columns in service from train set to the training dataset

In [57]:
trainservice= trainData['service'].tolist()
testservice = testData['service'].tolist()

In [58]:
#find the missing columns
diff = list(set(trainservice) - set(testservice))

In [59]:
#print the missing columns
diff

['urh_i', 'http_8001', 'rje', 'printer', 'red_i']

In [60]:
# now add these columns to test data

In [61]:
string4= 'service_'
diff= [string4 + x for x in diff]

In [62]:
diff

['service_urh_i',
 'service_http_8001',
 'service_rje',
 'service_printer',
 'service_red_i']

In [63]:
for col in diff:
    test_enc[col]=0

In [64]:
# lets view the test data
test_enc.head()

,protocol_type_icmp,protocol_type_tcp,protocol_type_udp,service_IRC,service_X11,service_Z39_50,service_auth,service_bgp,service_courier,service_csnet_ns,...,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,service_urh_i,service_http_8001,service_rje,service_printer,service_red_i
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0

In [65]:
train_enc.shape

(25192, 80)

In [72]:
test_enc.shape

(11850, 81)

In [67]:
set(train_enc.columns).intersection(set(test_enc.columns))

{'flag_OTH',
 'flag_REJ',
 'flag_RSTO',
 'flag_RSTOS0',
 'flag_RSTR',
 'flag_S0',
 'flag_S1',
 'flag_S2',
 'flag_S3',
 'flag_SF',
 'flag_SH',
 'protocol_type_icmp',
 'protocol_type_tcp',
 'protocol_type_udp',
 'service_IRC',
 'service_X11',
 'service_Z39_50',
 'service_auth',
 'service_bgp',
 'service_courier',
 'service_csnet_ns',
 'service_ctf',
 'service_daytime',
 'service_discard',
 'service_domain',
 'service_domain_u',
 'service_echo',
 'service_eco_i',
 'service_ecr_i',
 'service_efs',
 'service_exec',
 'service_finger',
 'service_ftp',
 'service_ftp_data',
 'service_gopher',
 'service_hostnames',
 'service_http',
 'service_http_443',
 'service_http_8001',
 'service_imap4',
 'service_iso_tsap',
 'service_klogin',
 'service_kshell',
 'service_ldap',
 'service_link',
 'service_login',
 'service_mtp',
 'service_name',
 'service_netbios_dgm',
 'service_netbios_ns',
 'service_netbios_ssn',
 'service_netstat',
 'service_nnsp',
 'service_nntp',
 'service_ntp_u',
 'service_other',
 'service_pm_dump',
 'service_pop_2',
 'service_pop_3',
 'service_printer',
 'service_private',
 'service_red_i',
 'service_remote_job',
 'service_rje',
 'service_shell',
 'service_smtp',
 'service_sql_net',
 'service_ssh',
 'service_sunrpc',
 'service_supdup',
 'service_systat',
 'service_telnet',
 'service_tim_i',
 'service_time',
 'service_urh_i',
 'service_urp_i',
 'service_uucp',
 'service_uucp_path',
 'service_vmnet',
 'service_whois'}

In [68]:
train_enc.columns ^ test_enc.columns

Index(['service_tftp_u'], dtype='object')

In [69]:
train_enc['service_tftp_u']=0

In [71]:
train_enc.shape

(25192, 81)

# Join the Columns

Now join the new columns to the actual dataset. So we will add the encoded new columns from categorical columns to the non-categorical dataset and drop the categorical columns from our dataset

In [73]:
#join the new columns in train data
newTrain=trainData.join(train_enc)

In [74]:
newTrain.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,service_tftp_u
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1,0,udp,other,SF,146,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,0,tcp,http,SF,232,8153,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,0,tcp,http,SF,199,420,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0

In [75]:
#drop the categorical columns from train data
newTrain.drop('flag', axis=1, inplace=True)

In [76]:
newTrain.drop('service', axis=1, inplace=True)

In [77]:
newTrain.drop('protocol_type', axis=1, inplace=True)

In [111]:
# join the new columns in test data
newTest= testData.join(test_enc)

In [112]:
newTest.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,service_urh_i,service_http_8001,service_rje,service_printer,service_red_i
0,13,tcp,telnet,SF,118,2425,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
1,0,udp,private,SF,44,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
2,0,tcp,telnet,S3,0,44,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0
3,0,udp,private,SF,53,55,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
4,0,tcp,private,SH,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0

In [113]:
#drop the categorical columns from test data
newTest.drop('flag', axis=1, inplace=True)

In [114]:
newTest.drop('service', axis=1, inplace=True)
newTest.drop('protocol_type', axis=1, inplace=True)

In [115]:
newTest.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,service_urh_i,service_http_8001,service_rje,service_printer,service_red_i
0,13,118,2425,0,0,0,0,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
1,0,44,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
2,0,0,44,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0
3,0,53,55,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0

In [83]:
newTrain.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,service_tftp_u
0,0,491,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1,0,146,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,0,232,8153,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,0,199,420,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0

# Convert the class labels into numerical

If the class labels have different type of attacks, identify the type of attacks and group them. 
Assign a number to each group. In NSL-KDD latest dataset, the class is given as 'normal' and 'anomaly' but in previous versions, there are 4 types of attacks, namely, DoS, Probe, R2L, U2R. So for example, if the labels are given as 'normal', 'neptune', 'pod', 'smurf', 'portsweep', 'satan', 'guess_passwd', 'imap', 'perl', 'loadmodule', etc. We first group them as the type of attack, like we can see 'neptune, 'pod', 'smurf' are DoS attacks; 'portsweep' and 'satan' are Probe attacks ; 'guess_passwd', 'imap' are R2L attacks and 'perl', 'loadmodule' are U2R attacks. Now we can assign numbers normal =0 , DoS =1, Probe=2, R2L=3, U2R=4 and create four different datasets. In current dataset the attacks are already grouped as anomaly and thus we have only two classes, normal and anomaly so we have considered only two labels 0 and 1.

In [88]:
train_label = trainData['class']

In [89]:
train_label = train_label.replace({'normal':0, 'anomaly':1})

In [90]:
train_label.head()

0    0
1    0
2    1
3    0
4    0
Name: class, dtype: int64

In [118]:
test_label= testData['class']

In [119]:
test_label=test_label.replace({'normal':0, 'anomaly':1})

In [93]:
#change the class columns in train and test data
newTrain['class']=train_label

In [120]:
newTest['class']=test_label

In [96]:
newTrain['class'].head()

0    0
1    0
2    1
3    0
4    0
Name: class, dtype: int64

In [121]:
newTest['class'].unique()

array([1, 0])

In [122]:
newTrain['class'].unique()

array([0, 1])

In [123]:
newTrain.columns

Index(['duration', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment',
       'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised',
       ...
       'flag_RSTO', 'flag_RSTOS0', 'flag_RSTR', 'flag_S0', 'flag_S1',
       'flag_S2', 'flag_S3', 'flag_SF', 'flag_SH', 'service_tftp_u'],
      dtype='object', length=120)

In [124]:
newTest.columns

Index(['duration', 'src_bytes', 'dst_bytes', 'land', 'wrong_fragment',
       'urgent', 'hot', 'num_failed_logins', 'logged_in', 'num_compromised',
       ...
       'flag_S1', 'flag_S2', 'flag_S3', 'flag_SF', 'flag_SH', 'service_urh_i',
       'service_http_8001', 'service_rje', 'service_printer', 'service_red_i'],
      dtype='object', length=120)

In [126]:
newTest['class'].head()

0    1
1    1
2    1
3    0
4    1
Name: class, dtype: int64

# Normalize the Data

In [84]:
from sklearn import preprocessing

In [95]:
scalarTrain = preprocessing.StandardScaler().fit(newTrain)

In [127]:
scalarTest = preprocessing.StandardScaler().fit(newTest)

In [131]:
#transform the data
trainDataset = scalarTrain.transform(newTrain)
testDataset = scalarTest.transform(newTest)

In [132]:
#check the Standard Deviation
trainDataset.std(axis=0)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       0.])

In [133]:
testDataset.std(axis=0)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0.,
       0.])

Now are dataset is numerical and normalized. It is ready to use. This step is called Data Preprocesisng. Now We can use data mining methods to see which features are useful and remove the redundant features before building any machine learning model.

# Step 2. Feature Selection

#