## Anomaly Detection using NSL-KDD dataset

Step 1: Data Preprocessing

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
column_names= ["duration","protocol_type","service","flag","src_bytes","dst_bytes", "land",
               "wrong_fragment","urgent","hot","num_failed_logins","logged_in", "num_compromised",
               "root_shell","su_attempted","num_root", "num_file_creations","num_shells", "num_access_files",
               "num_outbound_cmds","is_host_login","is_guest_login","count","srv_count","serror_rate",
              "srv_serror_rate","rerror_rate","srv_rerror_rate","same_srv_rate","diff_srv_rate",
               "srv_diff_host_rate","dst_host_count","dst_host_srv_count","dst_host_same_srv_rate",
               "dst_host_diff_srv_rate","dst_host_same_src_port_rate","dst_host_srv_diff_host_rate",
               "dst_host_serror_rate", "dst_host_srv_serror_rate","dst_host_rerror_rate",
               "dst_host_srv_rerror_rate","class"]

In [6]:
#read data from csv
trainData = pd.read_csv("NSL_KDD/KDDTrain+_20Percent.csv", header=None, names=column_names)

In [8]:
#view the train data
trainData.head(10)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal
5,0,tcp,private,REJ,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.00,1.00,anomaly
6,0,tcp,private,S0,0,0,0,0,0,0,...,9,0.04,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
7,0,tcp,private,S0,0,0,0,0,0,0,...,15,0.06,0.07,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
8,0,tcp,remote_job,S0,0,0,0,0,0,0,...,23,0.09,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
9,0,tcp,private,S0,0,0,0,0,0,0,...,13,0.05,0.06,0.00,0.00,1.00,1.00,0.00,0.00,anomaly

In [9]:
#upload the test data
testData = pd.read_csv("NSL_KDD/KDDTest-21.csv", header=None, names=column_names)

In [10]:
testData.head(5)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,13,tcp,telnet,SF,118,2425,0,0,0,0,...,10,0.38,0.12,0.04,0.0,0.00,0.00,0.12,0.3,anomaly
1,0,udp,private,SF,44,0,0,0,0,0,...,254,1.00,0.01,0.01,0.0,0.00,0.00,0.00,0.0,anomaly
2,0,tcp,telnet,S3,0,44,0,0,0,0,...,79,0.31,0.61,0.00,0.0,0.21,0.68,0.60,0.0,anomaly
3,0,udp,private,SF,53,55,0,0,0,0,...,255,1.00,0.00,0.87,0.0,0.00,0.00,0.00,0.0,normal
4,0,tcp,private,SH,0,0,0,0,0,0,...,1,0.06,1.00,1.00,0.0,1.00,1.00,0.00,0.0,anomaly

In [11]:
# see the statistical summary
trainData.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,25192.000000,2.519200e+04,2.519200e+04,25192.000000,25192.000000,25192.00000,25192.000000,25192.000000,25192.000000,25192.000000,...,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000,25192.000000
mean,305.054104,2.433063e+04,3.491847e+03,0.000079,0.023738,0.00004,0.198039,0.001191,0.394768,0.227850,...,182.532074,115.063036,0.519791,0.082539,0.147453,0.031844,0.285800,0.279846,0.117800,0.118769
std,2686.555640,2.410805e+06,8.883072e+04,0.008910,0.260221,0.00630,2.154202,0.045418,0.488811,10.417352,...,98.993895,110.646850,0.448944,0.187191,0.308367,0.110575,0.445316,0.446075,0.305869,0.317333
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,84.000000,10.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,4.400000e+01,0.000000e+00,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,255.000000,61.000000,0.510000,0.030000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,2.790000e+02,5.302500e+02,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,...,255.000000,255.000000,1.000000,0.070000,0.060000,0.020000,1.000000,1.000000,0.000000,0.000000
max,42862.000000,3.817091e+08,5.151385e+06,1.000000,3.000000,1.00000,77.000000,4.000000,1.000000,884.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
# See the class distribution , normal vs anomaly data
print('Class distribution Train Data:')
print(trainData['class'].value_counts())

Class distribution Train Data:
normal     13449
anomaly    11743
Name: class, dtype: int64

In [13]:
# test Data
print('Class Dist in Test Data:')
print(testData['class'].value_counts())

Class Dist in Test Data:
anomaly    9698
normal     2152
Name: class, dtype: int64

# Covert categorical to Numerical - One Hot Encoding

Now if we analyze the dataset, we can see three attributes are categorical and rest are numerical. We would need to convert these categorical attributes to numerical. We would use One-Hot Encoding method for this

In [14]:
#check the data type of columns
trainData['protocol_type'].dtypes

dtype('O')

In [15]:
trainData['service'].dtypes

dtype('O')

In [16]:
trainData['duration'].dtypes

dtype('int64')

In [17]:
# in pandas dtype('O') represents panda Objects

In [18]:
# lets print all the columns of type 'object' and check the number of unique categories in each

In [ ]:
#create a function 
def CheckFeatures(dataSet):
    for col_names in column_names:
        if dataSet[col_names].dtypes=='object':
             cat= len(dataSet[col_names].unique())
             print("Feature '{col_name}' has '{cat}' categories".format(col_name=col_names, cat=cat))

In [51]:
CheckFeatures(trainData)

Feature 'protocol_type' has '3' categories
Feature 'service' has '66' categories
Feature 'flag' has '11' categories
Feature 'class' has '2' categories

In [20]:
# lets print the names of categories of each

In [21]:
#categories in Protocol type
trainData['protocol_type'].unique()

array(['tcp', 'udp', 'icmp'], dtype=object)

In [22]:
# print the total number of rows per category in Service
print('Distribution of categories in Services:')
print(trainData['service'].unique())

Distribution of categories in Services:
['ftp_data' 'other' 'private' 'http' 'remote_job' 'name' 'netbios_ns'
 'eco_i' 'mtp' 'telnet' 'finger' 'domain_u' 'supdup' 'uucp_path' 'Z39_50'
 'smtp' 'csnet_ns' 'uucp' 'netbios_dgm' 'urp_i' 'auth' 'domain' 'ftp'
 'bgp' 'ldap' 'ecr_i' 'gopher' 'vmnet' 'systat' 'http_443' 'efs' 'whois'
 'imap4' 'iso_tsap' 'echo' 'klogin' 'link' 'sunrpc' 'login' 'kshell'
 'sql_net' 'time' 'hostnames' 'exec' 'ntp_u' 'discard' 'nntp' 'courier'
 'ctf' 'ssh' 'daytime' 'shell' 'netstat' 'pop_3' 'nnsp' 'IRC' 'pop_2'
 'printer' 'tim_i' 'pm_dump' 'red_i' 'netbios_ssn' 'rje' 'X11' 'urh_i'
 'http_8001']

In [42]:
trainData['service'].value_counts().sort_values(ascending=False).head()

http        8003
private     4351
domain_u    1820
smtp        1449
ftp_data    1396
Name: service, dtype: int64

In [25]:
#pip install pandas --upgrade

Requirement already up-to-date: pandas in /Users/garima/anaconda3/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /Users/garima/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.4)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /Users/garima/anaconda3/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /Users/garima/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/garima/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [50]:
# check the category type features in Test Data
CheckFeatures(testData)

Feature 'protocol_type' has '3' categories
Feature 'service' has '62' categories
Feature 'flag' has '11' categories
Feature 'class' has '2' categories

In [52]:
testData['protocol_type'].unique()

array(['tcp', 'udp', 'icmp'], dtype=object)

In [53]:
testData['service'].unique()

array(['telnet', 'private', 'http', 'imap4', 'ftp_data', 'other', 'ctf',
       'pop_3', 'ftp', 'domain_u', 'domain', 'eco_i', 'ecr_i', 'finger',
       'name', 'smtp', 'vmnet', 'mtp', 'bgp', 'exec', 'sunrpc',
       'uucp_path', 'iso_tsap', 'echo', 'auth', 'hostnames', 'courier',
       'uucp', 'daytime', 'nntp', 'netstat', 'urp_i', 'http_443',
       'csnet_ns', 'login', 'klogin', 'whois', 'time', 'link', 'discard',
       'gopher', 'supdup', 'netbios_ns', 'systat', 'netbios_dgm',
       'kshell', 'efs', 'nnsp', 'ssh', 'netbios_ssn', 'Z39_50', 'IRC',
       'ntp_u', 'X11', 'pm_dump', 'ldap', 'remote_job', 'sql_net',
       'shell', 'tim_i', 'pop_2', 'tftp_u'], dtype=object)

In [54]:
testData['flag'].value_counts().sort_values(ascending=False).head()

SF      7278
REJ     1852
S0      1033
RSTR     668
RSTO     658
Name: flag, dtype: int64

Now to do label encoding, we would need to make columns for each unique category. As in One-Hot Encoding we will be providing a unique binary value to each category and assign that numeric value instead of writing the category.

We have 3+66+11 subcategories in train data and 3+ 62+11 sub categories in test data. So in all we would need maximum 80 columns. Test data has 4 lesser but we would need to add them as empty columns in test data.

# One Hot Encoding

First create a numpy array of all the categorical features

In [55]:
categorical_columns = ['protocol_type','service','flag']

In [56]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [58]:
train_categorical_columns_values= trainData[categorical_columns]

In [59]:
test_categorical_columns_values= testData[categorical_columns]

In [60]:
test_categorical_columns_values.head()

  protocol_type  service flag
0           tcp   telnet   SF
1           udp  private   SF
2           tcp   telnet   S3
3           udp  private   SF
4           tcp  private   SH

In [61]:
train_categorical_columns_values.head()

  protocol_type   service flag
0           tcp  ftp_data   SF
1           udp     other   SF
2           tcp   private   S0
3           tcp      http   SF
4           tcp      http   SF

Now we will make columns for each sub category

In [91]:
# create columns for each sub category in protocol_type
protocol_cat = sorted(trainData['protocol_type'].unique())
stringP = 'protocol_type_'
protocol_col = [stringP + c for c in protocol_cat]

In [92]:
protocol_col

['protocol_type_icmp', 'protocol_type_tcp', 'protocol_type_udp']

In [93]:
service_cat = sorted(trainData['service'].unique())
stringS = 'service_'
service_col = [stringS + c for c in service_cat]

In [94]:
service_col

['service_IRC',
 'service_X11',
 'service_Z39_50',
 'service_auth',
 'service_bgp',
 'service_courier',
 'service_csnet_ns',
 'service_ctf',
 'service_daytime',
 'service_discard',
 'service_domain',
 'service_domain_u',
 'service_echo',
 'service_eco_i',
 'service_ecr_i',
 'service_efs',
 'service_exec',
 'service_finger',
 'service_ftp',
 'service_ftp_data',
 'service_gopher',
 'service_hostnames',
 'service_http',
 'service_http_443',
 'service_http_8001',
 'service_imap4',
 'service_iso_tsap',
 'service_klogin',
 'service_kshell',
 'service_ldap',
 'service_link',
 'service_login',
 'service_mtp',
 'service_name',
 'service_netbios_dgm',
 'service_netbios_ns',
 'service_netbios_ssn',
 'service_netstat',
 'service_nnsp',
 'service_nntp',
 'service_ntp_u',
 'service_other',
 'service_pm_dump',
 'service_pop_2',
 'service_pop_3',
 'service_printer',
 'service_private',
 'service_red_i',
 'service_remote_job',
 'service_rje',
 'service_shell',
 'service_smtp',
 'service_sql_net',
 'service_ssh',
 'service_sunrpc',
 'service_supdup',
 'service_systat',
 'service_telnet',
 'service_tim_i',
 'service_time',
 'service_urh_i',
 'service_urp_i',
 'service_uucp',
 'service_uucp_path',
 'service_vmnet',
 'service_whois']

In [95]:
flag_cat = sorted(trainData['flag'].unique())
stringF = 'flag_'
flag_col = [stringF + c for c in flag_cat]

In [96]:
flag_col

['flag_OTH',
 'flag_REJ',
 'flag_RSTO',
 'flag_RSTOS0',
 'flag_RSTR',
 'flag_S0',
 'flag_S1',
 'flag_S2',
 'flag_S3',
 'flag_SF',
 'flag_SH']